<!doctype html>
<html>

<head>
    <style>
        .SYIG_1 {
            background-color: #f0f0f2;
            padding: 1%;
            /* display: flex; */
            /* white-space: nowrap; */
            /* flex-wrap: wrap; */
            margin-bottom: 2%;
            margin-left: 2%;
        }

        .SYIG_2 {
            border: 1px solid #ffffff;
            margin-top: 1%;
        }

        .SYIG_2:hover {
            background-color: #ffffff;
            transform: scale(1.01);
        }

        .SYIG_3 {
            border: 1px solid #ffffff;
            margin: 0%;
            padding-left: 1%;
            display: inline-block;
        }

        .SYIG_4 {
            border: 1px solid #aaaaaa;
            background-color: #fdfdff;
            white-space: nowrap;
            cursor: #fdfdff;
        }

        .SYIG_4:hover {
            background-color: #ffffff;
            transform: scale(1.1);
        }

        mark {
            background-color: #f0f0f2;
            font-weight: bold;
            color: #000000;
            font-size: 14px;
        }

        mark:hover {
            background-color: #ffffff;
            transform: scale(1.3);
        }
    </style>

    {{!-- <style>
        .syig_tumn_1 {
            display: inline;
            background-blend-mode: lighten;
            background-size: cover;
            background: rgba(0, 0, 0, 0.3);
        }


        .SYIG_1 {
            background-color: #EEEEEE;
            padding: 1%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2%;
            margin-left: 2%;

        }

        .SYIG_2 {
            border: 1px solid #AAAAAA;
            margin: 0%;
            padding-left: 1%;
        }

        .SYIG_3 {
            border: 1px solid #AAAAAA;
            margin: 0%;
            padding-left: 1%;
            display: flex;
        }

        mark {
            background-color: #DDDDDD;
            font-weight: bold;
            color: #000000;
            font-size: 14px;
        }
    </style> --}}
    {{{head}}}
</head>

<body style="background-color: #f0f0f2;padding:0px;">
    {{{body}}}
</body>

</html>