<!doctype html>
<html>

<head>
    <header>

    </header>
    <style>
        .SYIG_1 {
            background-color: #EEEEEE;
            padding: 1%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2%;
            margin-left: 2%;

        }

        .SYIG_2 {
            border: 1px solid #AAAAAA;
            margin: 0%;
            padding-left: 1%;
        }

        .SYIG_3 {
            border: 1px solid #AAAAAA;
            margin: 0%;
            padding-left: 1%;
            display: flex;
        }

        mark {
            background-color: #DDDDDD;
            font-weight: bold;
            color: #000000;
            font-size: 14px;
        }
    </style>
    {{{head}}}
</head>

<body style="background-color: #DDDDDD;padding:0px;">
    {{{body}}}
</body>

</html>