<title>大小写转换</title>
<h2>大小写转换</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="post">
    请在此输入文本<br><textarea name="VDZV_1" rows="2" cols="100"></textarea><br>
    <button>提交</button>
</form>
大写<br>
<textarea rows="2" cols="100">{{JTYP_1}}</textarea>
<br>
小写<br>
<textarea rows="2" cols="100">{{JTYP_2}}</textarea>