<head><title>格式化之3f</title></head>
<h2>格式化之3f</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="BRTZ_FS_3f" action="/BRTZ_FS_3f" method="post">
    请在此输入目标内容<br>
    <textarea name="VDZV_1" onfocus="select()" rows="10" cols="80">输入内容提示:&#10关闭&#10打开&#10未知&#10未定义</textarea>
    <button>提交</button>
</form>
<hr>
输出内容<br>
<textarea onfocus="select()" rows="30" cols="80">{{JTYP_1}}</textarea>