<head><title>对比助手</title></head>
<h2>对比助手</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="DIZCGGOUSS" action="/DIZCGGOUSS" method="post">
    目标数据流项目<br>
    <textarea name="VDZV_1" rows="20" cols="80"></textarea>
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="80" onfocus="select()">{{JTYP_1}}</textarea>