<title>dtcData检查</title>
<h2>dtcData检查</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<body>
    <form action="/dtcData_ZJZJ" method="post">
    请输入文件路径
    <input onfocus="select()" name="VDZV_1" value="">
        <button>提交</button>
    </form>
    <textarea onfocus="select()" rows="20" cols="100">{{JTYP_1}}</textarea>
</body>

</html>