<title>单体项目模仿之单个id类型</title>
<h2>单体项目模仿之单个id类型</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="EYRH_NINI_HQMV_YENH_YYHA" action="/EYRH_NINI_HQMV_YENH_YYHA" method="post">
    <div style="float: left;">
        <b>目标内容<br>
            <textarea onfocus="select()" name="VDZV_1" rows="20" cols="50"></textarea>
    </div>
    <div style="float: left;">
        <b>总帧数<br>
            <input onfocus="select()" name="VDZV_2" type="number">
    </div>
    <div style="float: left;">
        <b>指定步长(默认为8)<br>
            <input onfocus="select()" name="VDZV_3" type="number"/>
    </div>

    <br>
    <div style="float: left;">
        <button>执行</button>
    </div>
    <hr style="clear: both;">
</form>
<div style="clear: both;">
    <b>输出内容<br>
        <textarea onfocus="select()" name="VDZV_4" rows="30" cols="50">{{JTYP_1}}</textarea>
</div>