<title>单体模拟</title>
<h2>单体模拟</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="VR" action="/VR_EBWU_BRTZ_FS" method="get">
    <button>VR</button>
</form>

<body>
    <form action="/EYRHGGHQTB" method="post">
        项目路径<input type="text" name="VDZV_1">
        发码路径<input type="text" name="VDZV_2">
        <button>提交</button>
    </form>
    <textarea onfocus="select()" rows="20" cols="100">{{JTYP_1}}</textarea>
</body>

</html>