<div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" onload="console.log('jquery Sdbc')"></script>
    <script>
        $(document).ready(function () {
            //if (confirm("开发者建议你使用“VR语言”来辅助你工作，里面包含了工作助手几乎所有的功能，需要了解一下“VR语言”吗？")) {
            //  var yxna_vr = "http://localhost:3009/VR_EBWU_BRTZ_FS"
            //  var yxna_vr_vkjp = "http://localhost:3009/VR_VKJP?"
            //  if (window.open(yxna_vr_vkjp, '_blank')) {
            //
            //  } else {
            //      window.location.assign(yxna_vr_vkjp)
            //  }
            //}
        });
    </script>
</div>
<div class="SYIG_3" style="float: left;margin: 0%;">
    <h1>Welcome home!</h1>
    <p><img src="./img/logo.png" width="50%" height="50%" alt="logo"></p>
    <div>
        version : <mark>{{version}}</mark><br>
        author : <mark>{{author}}</mark><br>
        <li><a href="https://drive.weixin.qq.com/s?k=AFkAbAfYAAkQWfpA6V" target="_blank">获取开发者发布的工作助手</a></li>
        <li><a href="http://localhost:3009/UYPI_OUSS_RVDB_TSFZ_RJOK_html_FS" target="_blank">工作助手使用指南</a></li>
    </div>
</div>

<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>最实用脚本</mark>
        <div class="SYIG_1">
            <form name="HD_LZJK" action="/HD_LZJK" method="get">
                <li><button class="SYIG_4">删重复行</button></li>
            </form>
            <form name="HD_LZJK_FYWYGGXBST" action="/HD_LZJK_FYWYGGXBST" method="get">
                <li><button class="SYIG_4">删重复行_根据标识符</button></li>
            </form>
            <form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="get">
                <li><button class="SYIG_4">大小写转换</button></li>
            </form>
            <form name="SLRH_JYUY" action="/SLRH_JYUY" method="get">
                <li><button class="SYIG_4">集体运算</button></li>
            </form>
        </div>
    </div>
    <div class="SYIG_2">
        <mark>检查项目的脚本</mark>
        <div class="SYIG_1">
            <form name="NINI_CGNE_ZV_NINI_WU_MR_ES" action="/NINI_CGNE_ZV_NINI_WU_MR_ES" method="get">
                <li><button class="SYIG_4">数据流项目匹配</button></li>
            </form>
            <form name="sysData_ZJZJ" action="/sysData_ZJZJ" method="get">
                <li><button class="SYIG_4">sysData检查</button></li>
            </form>
            <form name="menuData_ZJZJ" action="/menuData_ZJZJ" method="get">
                <li><button class="SYIG_4">menuData检查</button></li>
            </form>
            <form name="dtcData_ZJZJ" action="/dtcData_ZJZJ" method="get">
                <li><button class="SYIG_4">dtcData检查</button></li>
            </form>
        </div>
    </div>
    <div class="SYIG_2">
        <mark>其它脚本</mark>
        <div class="SYIG_1">
            <form name="ASCIIGGLDRG" action="/ASCIIGGLDRG" method="get">
                <li><button class="SYIG_4">ASCII转换</button></li>
            </form>
            <form name="RJQT_GRBJ" action="/RJQT_GRBJ" method="get">
                <li><button class="SYIG_4">文件合并</button></li>
            </form>
            <form name="RJQT_FDMJ" action="/RJQT_FDMJ" method="get">
                <li><button class="SYIG_4">文件分割</button></li>
            </form>
            <form name="TYUB_LDRG" action="/TYUB_LDRG" method="get">
                <li><button class="SYIG_4">进制转换</button></li>
            </form>

        </div>
    </div>


</div>
<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>格式化</mark>
        <div class="SYIG_1">

            <form name="NINI_SIIH_DIAX" action="/NINI_SIIH_DIAX" method="get">
                <li><button class="SYIG_4">括号对齐</button></li>
            </form>
            <form name="BRTZ_FS_3f" action="/BRTZ_FS_3f" method="get">
                <li><button class="SYIG_4">格式化之3f</button></li>
            </form>
            <form name="VNWY_TU_NINI_BRTZ_FS" action="/VNWY_TU_NINI_BRTZ_FS" method="get">
                <li><button class="SYIG_4">数据流项目格式化</button></li>
            </form>
            <form name="BRTZ_FS_3f_Beiqi_ec180" action="/BRTZ_FS_3f_Beiqi_ec180" method="get">
                <li><button class="SYIG_4">格式化之3f_北汽EC180</button></li>
            </form>
            <form name="BRTZ_FS_Beiqi_ec180" action="/BRTZ_FS_Beiqi_ec180" method="get">
                <li><button class="SYIG_4">格式化之北汽EC180</button></li>
            </form>
            <form name="VR_EBWU_BRTZ_FS" action="/VR_EBWU_BRTZ_FS" method="get">
                <li><button class="SYIG_4" autofocus>VR语言</button></li>
            </form>
        </div>
    </div>

    <div class="SYIG_2">
        <mark>单体相关</mark>
        <div class="SYIG_1">

            <form name="ZSGGTRGGYJGGEYRH" action="/ZSGGTRGGYJGGEYRH" method="get">
                <li><button class="SYIG_4">按位找单体</button></li>
            </form>
            <form name="EOSRGGJUZCGGTZGGYJGGEYRH" action="/EOSRGGJUZCGGTZGGYJGGEYRH" method="get">
                <li><button class="SYIG_4">正则表达式找单体</button></li>
            </form>
            <form name="EYRH_REUY" action="/EYRH_REUY" method="get">
                <li><button class="SYIG_4">单体数值统计_按位</button></li>
            </form>
            <form name="EYRH_REUY_CJZY" action="/EYRH_REUY_CJZY" method="get">
                <li><button class="SYIG_4">单体数值统计_常规</button></li>
            </form>
            <form name="EYRH_NINI_HQMV_YENH_YYHA" action="/EYRH_NINI_HQMV_YENH_YYHA" method="get">
                <li><button class="SYIG_4">单体项目模仿之单个id类型</button></li>
            </form>
            <form name="EYRH_NINI_HQMV" action="/EYRH_NINI_HQMV" method="get">
                <li><button class="SYIG_4">单体项目模仿之多id类型</button></li>
            </form>
            <form name="EYRHGGHQTB" action="/EYRHGGHQTB" method="get">
                <li><button class="SYIG_4">单体模拟</button></li>
            </form>
        </div>
    </div>

    <div class="SYIG_2">
        <mark>故障码相关</mark>
        <div class="SYIG_1">
            <form name="VKVY_LD_TYUB_VN_ZNZK_NQLL" action="/VKVY_LD_TYUB_VN_ZNZK_NQLL" method="get">
                <li><button class="SYIG_4">编码转进制数_定义在前</button></li>
            </form>
            <form name="VKVY_LD_TYUB_VN_ZNZK_NQUD" action="/VKVY_LD_TYUB_VN_ZNZK_NQUD" method="get">
                <li><button class="SYIG_4">编码转进制数_定义在后</button></li>
            </form>
        </div>
    </div>
</div>
<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>翻译相关</mark>
        <li><a href="https://drive.weixin.qq.com/s?k=AFkAbAfYAAkefq91AT" target="_blank">打开中英对应库</a></li>
        <li><a href="https://drive.weixin.qq.com/s?k=AFkAbAfYAAkamb56kC" target="_blank">打开翻译标准库</a></li>
    </div>
</div>