<div class="SYIG_3">
        <mark>home</mark>
</div>
<div class="SYIG_2">
    <mark>最实用脚本</mark>
    <div class="SYIG_1">

        <form name="QH_MAGM" action="/QH_MAGM" method="get">
            <button>行排序</button>
        </form>
        <form name="HD_LZJK" action="/HD_LZJK" method="get">
            <button>删重复行</button>
        </form>
        <form name="HD_LZJK_FYWYGGXBST" action="/HD_LZJK_FYWYGGXBST" method="get">
            <button>删重复行_根据标识符</button>
        </form>
        <form name="TYUB_LDRG" action="/TYUB_LDRG" method="get">
            <button>进制转换</button>
        </form>
        <form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="get">
            <button>大小写转换</button>
        </form>
        <form name="SLRH_JYUY" action="/SLRH_JYUY" method="get">
            <button>集体运算</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>检查项目的脚本</mark>
    <div class="SYIG_1">

        <form name="DIZCGGOUSS" action="/DIZCGGOUSS" method="get">
            <button>对比助手</button>
        </form>
        <form name="NINI_CGNE_ZV_NINI_WU_MR_ES" action="/NINI_CGNE_ZV_NINI_WU_MR_ES" method="get">
            <button>项目匹配之项目名和帧</button>
        </form>
        <form name="sysData_ZJZJ" action="/sysData_ZJZJ" method="get">
            <button>sysData检查</button>
        </form>
        <form name="menuData_ZJZJ" action="/menuData_ZJZJ" method="get">
            <button>menuData检查</button>
        </form>
        <form name="dtcData_ZJZJ" action="/dtcData_ZJZJ" method="get">
            <button>dtcData检查</button>
        </form>
    </div>
</div>

<div class="SYIG_2">
    <mark>格式化</mark>
    <div class="SYIG_1">

        <form name="NINI_SIIH_DIAX" action="/NINI_SIIH_DIAX" method="get">
            <button>括号对齐</button>
        </form>
        <form name="BRTZ_FS_3f" action="/BRTZ_FS_3f" method="get">
            <button>格式化之3f</button>
        </form>
        <form name="VNWY_TU_NINI_BRTZ_FS" action="/VNWY_TU_NINI_BRTZ_FS" method="get">
            <button>数据流项目格式化</button>
        </form>

        <form name="BRTZ_FS_3f_Beiqi_ec180" action="/BRTZ_FS_3f_Beiqi_ec180" method="get">
            <button>格式化之3f_北汽EC180</button>
        </form>
        <form name="BRTZ_FS_Beiqi_ec180" action="/BRTZ_FS_Beiqi_ec180" method="get">
            <button>格式化之北汽EC180</button>
        </form>
        <form name="SIIHGGUXGGRJSEGGBRTZGGFS" action="/SIIHGGUXGGRJSEGGBRTZGGFS" method="get">
            <button>括号型文本格式化</button>
        </form>
        <form name="VR_EBWU_BRTZ_FS" action="/VR_EBWU_BRTZ_FS" method="get">
            <button>VR语言</button>
        </form>
        <form name="ESIH_BRTZ_FS" action="/ESIH_BRTZ_FS" method="get">
            <button>帧号格式化</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>其它脚本</mark>
    <div class="SYIG_1">



        <form name="ASCIIGGLDRG" action="/ASCIIGGLDRG" method="get">
            <button>ASCII转换</button>
        </form>
        <form name="RJQT_GRBJ" action="/RJQT_GRBJ" method="get">
            <button>文件合并</button>
        </form>
        <form name="RJQT_FDMJ" action="/RJQT_FDMJ" method="get">
            <button>文件分割</button>
        </form>
    </div>
</div>

<div class="SYIG_2">
    <mark>单体相关</mark>
    <div class="SYIG_1">

        <form name="ZSGGTRGGYJGGEYRH" action="/ZSGGTRGGYJGGEYRH" method="get">
            <button>按位找单体</button>
        </form>

        <form name="EOSRGGJUZCGGTZGGYJGGEYRH" action="/EOSRGGJUZCGGTZGGYJGGEYRH" method="get">
            <button>正则表达式找单体</button>
        </form>
        <form name="EYRH_REUY" action="/EYRH_REUY" method="get">
            <button>单体数值统计_按位</button>
        </form>
        <form name="EYRH_REUY_CJZY" action="/EYRH_REUY_CJZY" method="get">
            <button>单体数值统计_常规</button>
        </form>
        <form name="EYRH_NINI_HQMV_YENH_YYHA" action="/EYRH_NINI_HQMV_YENH_YYHA" method="get">
            <button>单体项目模仿之单个id类型</button>
        </form>
        <form name="EYRH_NINI_HQMV" action="/EYRH_NINI_HQMV" method="get">
            <button>单体项目模仿之多id类型</button>
        </form>
        <form name="EYRHGGHQTB" action="/EYRHGGHQTB" method="get">
            <button>单体模拟</button>
        </form>
    </div>
</div>

<div class="SYIG_2">
    <mark>故障码相关</mark>
    <div class="SYIG_1">

        <form name="VKVY_LD_TYUB_VN_ZNZK_NQLL" action="/VKVY_LD_TYUB_VN_ZNZK_NQLL" method="get">
            <button>编码转进制数_定义在前</button>
        </form>
        <form name="VKVY_LD_TYUB_VN_ZNZK_NQUD" action="/VKVY_LD_TYUB_VN_ZNZK_NQUD" method="get">
            <button>编码转进制数_定义在后</button>
        </form>
    </div>
</div>
<div>
    version : <mark>{{version}}</mark> ,
    author : <mark>{{author}}</mark>
</div>
{{!-- <img class=" src="/img/logo.jpg"  alt="Logo"> --}}