<head>
    <title>项目匹配之项目名和帧</title>
</head>
<h2>项目匹配之项目名和帧</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<form name="NINI_CGNE_ZV_NINI_WU_MR_ES" action="/NINI_CGNE_ZV_NINI_WU_MR_ES" method="post">
    输入参考文件路径（sysData）<br>
    <input name="VDZV_1" value="{{JTYP_2}}" size="80">
    <br>
    输入项目和相应的帧<br>
    <textarea name="VDZV_2" rows="20" cols="180" onfocus="select()">
这是示例{2299}
车速{2201}
软件版本{2282}
    </textarea>
    <br>
    输入操作符(STR为匹配数据流操作符，输入其他将默认匹配版本信息)<br>
    <input name="VDZV_3" value="{{JTYP_3}}">
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="180" onfocus="select()">{{JTYP_1}}</textarea>