<head>
    <title>项目匹配之项目名和帧</title>
</head>
<h2>项目匹配之项目名和帧</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<form name="NINI_CGNE_ZV_NINI_WU_MR_ES" action="/NINI_CGNE_ZV_NINI_WU_MR_ES" method="post">
    <li>输入参考文件路径（sysData）</li>
    <input name="VDZV_1" value="{{JTYP_2}}" size="80">
    <br>
    <li>输入项目和相应的帧</li>
    <textarea name="VDZV_2" rows="20" cols="180" onfocus="select()">
这是示例{2299}
这是示例{2201}
这是示例{2282}
这也是示例
这也是示例
这也是示例
这也是示例
    </textarea>
    <br>
    <li>输入操作符(STR为匹配数据流操作符，输入其他将默认匹配版本信息)</li>
    <input name="VDZV_3" value="{{JTYP_3}}">
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="180" onfocus="select()">{{JTYP_1}}</textarea>