<title>项目括号对齐</title>
<h2>项目括号对齐</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<body>
    <form action="/NINI_SIIH_DIAX" method="post">
    <textarea onfocus="select()" name="VDZV_1" rows="20" cols="100"></textarea>
        <button>提交</button>
    </form>
    <textarea onfocus="select()" rows="20" cols="100">{{JTYP_1}}</textarea>
</body>

</html>