<head><title>报文转发码</title></head>
<h2>报文转发码</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="NVRJ_LD_fama" action="/NVRJ_LD_fama" method="post">
    请在此输入目标内容<br>
    <textarea name="VDZV_1" rows="10" cols="80"></textarea>
    <button>提交</button>
</form>
<textarea>{{JTYP_1}}</textarea>