<title>文件分割</title>
<h2>文件分割</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="RJQT_FDMJ" action="/RJQT_FDMJ" method="post">
    <div style="float: left;">
        文件路径<input name="VDZV_1"><br>
        输出目录路径<input name="VDZV_2"><br>
        编码<input name="VDZV_3"><br>
        输出目录的文件扩展名<input name="VDZV_4"><br>
        输出目录的文件名集合（文件名之间用空白符隔开）<input name="VDZV_5"><br>
        被分割的单个单元的正则表达式<input name="VDZV_6"><br>
    </div>
    <br>
    <div style="float: left;">
        <button>执行</button>
    </div>
    <hr style="clear: both;">
</form>
<div style="clear: both;">
    <b>执行结果<br>
        <textarea onfocus="select()" rows="30" cols="50">{{JTYP_1}}</textarea>
</div>