<title>文件合并</title>
<h2>文件合并</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="RJQT_GRBJ" action="/RJQT_GRBJ" method="post">
    <div style="float: left;">
        目录路径<input name="VDZV_1"><br>
        输出文件路径<input name="VDZV_2"><br>
        编码<input name="VDZV_3"><br>
        文件扩展名（后缀名，多个扩展名用逗号隔开）<input name="VDZV_4"><br>
        是否备注文件名（1为不备注，0为备注）<input name="VDZV_5"><br>
    </div>
    <br>
    <div style="float: left;">
        <button>执行</button>
    </div>
    <hr style="clear: both;">
</form>
<div style="clear: both;">
    <b>执行结果<br>
        <textarea onfocus="select()" rows="30" cols="50">{{JTYP_1}}</textarea>
</div>