<title>集体运算</title>
<h2>集体运算</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="SLRH_JYUY" action="/SLRH_JYUY" method="post">
    请在此输入算式（如0xf100-0x100）多条算式用换行符隔开<br><textarea name="VDZV_1" rows="2" cols="100" onfocus="select()">{{VDZV_1}}</textarea><br>
    请填写输出进制操作符（1表示16进制，0表示10进制，2表示2进制）<input type="text" name="VDZV_2"/>
    <button>提交</button>
</form>
<hr>
结果<br>
<textarea rows="4" onfocus="select()" cols="70">{{IQTZ}}</textarea>
<textarea rows="4" onfocus="select()" cols="70">{{JTYP}}</textarea>
<br>