<title>sysData检查</title>
<h2>sysData检查</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<body>
    <form action="/sysData_ZJZJ" method="post">
    请输入文件路径
    <input onfocus="select()" name="VDZV_1" value="D:\Che\NER\DaTongEV\db\sysData.TXT">
    D:\WRVR\working\工作文件_已做完_已结束\威马\wm2\sysData.txt
        <button>提交</button>
    </form>
    <textarea onfocus="select()" rows="20" cols="100">{{JTYP_1}}</textarea>
</body>

</html>