<head>
    <title>进制转换</title>
</head>
<h2>进制转换</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="VR" action="/VR_EBWU_BRTZ_FS" method="get">
    <button>VR</button>
</form>

<form name="TYUB_LDRG" action="/TYUB_LDRG" method="post">
    操作符（十进制转其他进制请输入1，其他进制转十进制请输入0）<br>
    <textarea name="VDZV_3" onfocus="select()" rows="2" cols="80"></textarea><br>
    操作符（转为10进制用0表示，转为二进制用2表示，转为十六进制用1表示）<br>
    <textarea name="VDZV_2" onfocus="select()" rows="2" cols="80"></textarea><br>
    目标内容(多个数用空白符隔开即可)<br>
    <textarea name="VDZV_1" onfocus="select()" rows="20" cols="80"></textarea><br>
    <button>提交</button>
</form>
<textarea rows="20" cols="80" onfocus="select()">{{rj_jtyj}}</textarea><br>