<head><title>编码转进制数_定义在后</title></head>
<h2>编码转进制数_定义在后</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="VKVY_LD_TYUB_VN_ZNZK_NQUD" action="/VKVY_LD_TYUB_VN_ZNZK_NQUD" method="post">
    目标内容<br>
    <textarea name="VDZV_1" onfocus="select()" rows="20" cols="80">格式提示 : &#10P1234&#10定义内容</textarea>
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="80" onfocus="select()">{{JTYP_1}}</textarea>