<head><title>数据流项目前缀格式化</title></head>
<h2>数据流项目前缀格式化</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="VNWY_TU_NINI_BRTZ_FS" action="/VNWY_TU_NINI_BRTZ_FS" method="post">
    目标内容<br>
    <textarea name="VDZV_1" onfocus="select()" rows="20" cols="80">格式提示 : &#10电压&#10电流</textarea>
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="80" onfocus="select()">{{JTYP_1}}</textarea>