<head>
    <title>VR</title>
    <link rel="stylesheet" href="/css/style2.css" onload="console.log('CSS 文件已加载')">
    <script>
        var module = {}        
    </script>
    <script src="/tsjq_tem_non.js" onload="console.log('Sdbc tsjq_tem_non')"></script>
    <script src="/DOVW_DPAV_UYPJ_ZV_EOWL_STST_MI.js"
        onload="console.log('Sdbc DOVW_DPAV_UYPJ_ZV_EOWL_STST_MI')"></script>
</head>
<script>
    document.onkeydown = function (event) {
        var oEvent = event ? event : (window.event ? window.event : null);
        isKeyPressed(oEvent);
    }
    document.onkeyup = function (event) {
        var oEvent = event ? event : (window.event ? window.event : null);
        isKeyLoosen(oEvent);
    }


    function isKeyLoosen(event) {//抬起按键
        console.log(event.keyCode)
        var vdzv_1 = document.getElementById('id_vdzv_1')
        var rj_1 = vdzv_1.value
        var trig_kp = vdzv_1.selectionStart
        var trig_1 = trig_kp
        var rj_tsts_llcc = rj_1.slice(0, trig_kp)
        var rj_tsts_udcc = rj_1.slice(trig_kp, rj_1.length)
        vdzv_1.onkeydown = function (event) {
            if (event.key === '`' || event.keyCode == 18 || event.key === 'Alt') {
                event.preventDefault();
                var a = tsjq_tem_non(rj_1, trig_kp)
                Promise.all([a]).then(jtyj => {
                    if (/\w+\s*=\s*9\s*(?:=(?:\s*\w+|)|)\s*$/.test(rj_tsts_llcc)) {
                        if (/9=\s*(\w+)\s*$/.test(rj_tsts_llcc)) {
                            var vnwm_vkvy = ['GB2312', 'UTF8']
                            var dbkz_vdzv_vkvy = rj_tsts_llcc.replace(/[\s\S]*=\s*(\w+)\s*$/, "$1")
                            var vnwm_vkvy_stst = vnwm_vkvy.map(rn1 => {
                                return { stst_mi: DOVW_DPAV_UYPJ_ZV_EOWL_STST_MI(rn1, dbkz_vdzv_vkvy.toUpperCase()), dbkz_vdzv_vkvy, ahdb_vkvy: rn1 }
                            })
                            vnwm_vkvy_stst.sort((a, b) => b.stst_mi - a.stst_mi)
                            vdzv_1.value = rj_tsts_llcc.replace(/=\s*(\w+)\s*$/, "=") + vnwm_vkvy_stst[0].ahdb_vkvy
                        } else if (/=\s*$/.test(rj_tsts_llcc)) {
                            vdzv_1.value = rj_tsts_llcc + "GB2312"
                        } else if (/9\s*$/.test(rj_tsts_llcc)) {
                            vdzv_1.value = rj_tsts_llcc + "=GB2312"
                        }
                        if (!/^.*\S/.test(rj_tsts_udcc)) {
                            vdzv_1.value += "\{\{\n\n\}\}"
                            vdzv_1.setSelectionRange(rj_tsts_llcc.length + 3, rj_tsts_llcc.length + 3)
                        }
                    } else if (/=\s*$/.test(vdzv_1.value)) {
                        vdzv_1.value += " \{\{\n\n\}\}"
                        vdzv_1.setSelectionRange(rj_tsts_llcc.length + 4, rj_tsts_llcc.length + 4)
                    }
                    else if (!jtyj[0].gkyq_tsts_yjab) {
                        if (/\n$/.test(rj_tsts_llcc) && /\n\}\}/.test(rj_tsts_udcc)) {
                            vdzv_1.setSelectionRange(rj_tsts_llcc.length - 4, rj_tsts_llcc.length - 4)
                        } else if (/=$/.test(rj_tsts_llcc) && /^\s\{\{/.test(rj_tsts_udcc)) {
                            vdzv_1.setSelectionRange(rj_tsts_llcc.length + 4, rj_tsts_llcc.length + 4)
                        }
                    }
                    else if (/\n$/.test(jtyj[0].rj_tsts_llcc && /\n\}\}/.test(jtyj[0].rj_tsts_udcc))) {
                        vdzv_1.setSelectionRange(jtyj[0].rj_tsts_llcc.length - 6, jtyj[0].rj_tsts_llcc.length - 6)
                    }
                    else {
                        if (jtyj[0].stst_mi == 1) {
                            vdzv_1.value = jtyj[0].rj_tsts_llcc + ' = \{\{\n\n\}\}' + jtyj[0].rj_tsts_udcc
                            vdzv_1.setSelectionRange(jtyj[0].rj_tsts_llcc.length + 6, jtyj[0].rj_tsts_llcc.length + 6)
                        } else {
                            vdzv_1.value = jtyj[0].rj_tsts_llcc.replace(/\w+$/, jtyj[0].vr_afoa_lzm_wu) + jtyj[0].rj_tsts_udcc
                            vdzv_1.setSelectionRange(vdzv_1.value.length, vdzv_1.value.length)
                        }
                    }
                })

            }
        };
        if (event.ctrlKey && event.keyCode == 77) {
            document.getElementById('btn1').click()
        } else if (event.code == "Tab") {
        }

        if (event.keyCode == 13) {
            if (/\{/.test(rj_1[trig_1 - 2]) && /\}/.test(rj_1[trig_1])) {
                vdzv_1.value = rj_1.slice(0, trig_1) + "\n" + rj_1.slice(trig_1, rj_1.length)
                vdzv_1.setSelectionRange(trig_1, trig_1)
            }
        } else if (event.keyCode == 219) {
            if (/\{/.test(rj_1[trig_1 - 1])) {
                vdzv_1.value = rj_1.slice(0, trig_1) + "}" + rj_1.slice(trig_1, rj_1.length)
                vdzv_1.setSelectionRange(trig_1, trig_1)
            }
        }

    }

    function isKeyPressed(event) {
    }
</script>
<h2>VR</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
{{JTYP_2}}

<form name="VR_EBWU_ATRS" action="/VR_EBWU_ATRS" method="get">
    <button>VR语言教程</button>
</form>
<form name="VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH" action="/VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH" method="get">
    <button>VR语言之数据流项目编写示例</button>
</form>

<form name="VR_EBWU_BRTZ_FS" id="form_1" action="/VR_EBWU_BRTZ_FS" method="post">
    <hr>
    目标内容<br>
    <textarea class='code-area-2' name="VDZV_1" id="id_vdzv_1" onfocus="select()" onkeyup="" id="RNSF_1" rows="20"
        cols="150">{{RJSE_KP}}</textarea>
    <br>
    <button id="btn1">提交(Ctrl+M)</button>
</form>
输出内容<br>
<textarea class='code-area-2' rows="20" cols="150" onfocus="select()"
    style="resize: none;width: 100%;overflow: auto;word-break: break-all;">{{JTYP_1}}</textarea>
<script>
</script>