<head>
    <title>VR语言之数据流项目编写示例</title>
    <link rel="stylesheet" href="/css/style2.css" onload="console.log('CSS 文件已加载')">
</head>
<h2>VR语言之数据流项目编写示例</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="VR_EBWU_ATRS" action="/VR_EBWU_ATRS" method="get">
    <button>VR语言教程</button>
</form>
<form name="VR_EBWU_BRTZ_FS" id="form_1" action="/VR_EBWU_BRTZ_FS" method="post">
    <hr>
    <h1 id="目标内容">目标内容</h1>
    <input name="VDZV_2" hidden>
    <pre id='pre1' name="VDZV_1">
3f项目示例{2222}33，4，00：元素0 元素1 元素2 oth：-- ;//3f项目示例
3f项目示例{2223}33，，元素1 02:元素2 元素3 若显示空格请用“\ ”表示 ;//3f项目可用空格作为数组元素的分割标志
3f项目示例{2233}33,5，元素1 OTH：未定义 ;//3f项目范围参数单个字节可省略‘d’标识
3f项目示例{2233}3f，4，'00:元素1'|||元素2 元素3|||,'06:元素5',|||元素6 元素7|||'oth:未定义'; ;//3f项目插入元素示例
7f项目示例{2222}77，128，-256，、4*256+、5。0，V ;//7f项目示例
cf项目示例{2233}44，、4、5*65535/65535。0，kmh ;//cf项目有些单位可省略/号
cf项目示例{2233}44，、4、5*65535/65535。0，摄氏度 ;//cf项目中文单位可自动转为通用符号
cf项目示例{2233}44，、4、5*65535/65535。0，sheshidu ;//cf项目拼音拼写的单位可自动转为通用符号
cf项目示例{2233}44\4\5*0.1=V ;//cf项目使用=号自动识别小数位数
cf项目示例{2233}、4、5》》3== ;//cf项目有连续字节编号可不写cf标识
21项目示例{2222}22，，01，是】否 ;//21项目示例
21项目示例{2222}224 是】否01 ;//21项目示例
0a项目示例{2222}09，4-7,8 ;//0a项目示例
0a项目示例{2222}a 4 ;//0a项目示例
16项目示例{2223}H 4 ;//16项目示例
bb项目示例{2222}88  20+ 4 年+ 6-7h 8A -+ 9a ;//bb项目示例(字符串用+号标识)
bb项目示例{2223}88 20+ 4h 年 5h 月 6h 日 + 7h 时 ;//bb项目非字节标识自动转为字符串
bb项目示例{2223}88 20+ 4a 年 5 月 6 日 + 7h 时 =h ;//bb项目可用=号统一字节标识类型
bb项目示例{2223}88 20+ 4d 年 5 月 6 日 + 7h 时 =h ;//bb项目可用d号表示十进制类型
bb项目示例{2223}88 20+ 4年5月 6日7时8分 ;//bb项目默认中文和数字自动分开
bb项目示例{2223}88 20+ 4年5月 6日7时8分=2 ;//bb项目‘=2’标识可将连体的中文和数字视为字符串
计算类项目示例{2222}=5-4 0.1 -1000 kmh ;// 5-4表示d5d4 0.1为系数 -1000为偏移量
计算类项目示例{2222}=(D4<<8)+D5 25.6/256 999+1 ;//通用计算类项目可用算式作为参数
计算类项目示例{2222}=4-5  -- ;//通用计算类项目可用2个负号表示7f项目
计算类项目示例{2233}=4 km ;//通用计算类项目简写示例
计算类项目示例{2233}=5-4 KOH ;//通用计算类项目可用KOH代替kΩ单位(大小写不敏感)
计算类项目示例{2233}=4 PEC ;//通用计算类项目可用PEC代替%单位(大小写不敏感)
自动求数示例{2223}[4-5 65180=0xff00]-100 摄氏度 ;//自动求系数的计算类项目示例
自动求数示例{2233}[4 0.1=1] 摄氏度 ;//自动求系数的计算类项目偏移值默认为0
自动求数示例{2233}[4]-40 摄氏度 ;//自动求系数的计算类项目系数默认为1
自动求数示例{2233}[4]-40 摄氏度 -- ;//自动求系数的计算类项目转7f项目示例
自动求数示例{2233}[4-6 km]-40 ;//自动求系数的计算类项目省略系数不写时单位可写入括号内
自动求数示例{2233}[4 -39=0x59 -40=0x58]sheshidu ;//自动求系数和偏移值示例
限定数值范围示例{2233}[4 0.1=0X1]SHESHIDU[0.5-40.5 0xa0:短路] ;//限定数值范围示例
限定数值范围示例{2233}[4 0.1=0X1]SHESHIDU[-10.5-45.5 0xA0:短路 0xff:未知故障] -- ;//限定数值范围之有符号数
简写示例{2233}33，，’00：’，’oth：---‘ ;//如果有效字节是d4可省略不写
    </pre>
    <br>
    <button onclick="ZHMS()">提交</button>
</form>
<form name="eytr_dyih_zjqt" action="/eytr_dyih_zjqt" method="get">
    <button>单位代号查询</button>
</form>
<div>
    <script>var module = {};</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" onload="console.log('jquery Sdbc')"></script>
    <script src="/wk_mk_html_code.js" onload="console.log('Sdbc wk_mk_html_code')"></script>
    <script>
        var rj_1;
        var rj_kp;
        $(document).ready(function () {
            // 在文档中的某个元素后面添加新的 p 元素
            rj_kp = $(pre1).text()
            rj_1 = '<pre><code class="language-js">' + $(pre1).text() + "</code></pre>"
            var rj_2 = wk_mk_html_code(rj_1, 'javascript')
            document.getElementById("pre1").innerHTML = rj_2
        });
        document.VR_EBWU_BRTZ_FS.onsubmit = function () {
            document.VR_EBWU_BRTZ_FS.VDZV_2.value = rj_kp.replace(/\n/g, '<br>');
            return true; // 提交表单
        }
    </script>
</div>
<div>
    <h1 id="使用帮助">使用帮助</h1>
    <ul>
        <li>
            <p>你可以直接在VR语言窗口中的目标内容输入这样的数据流项目，点击提交或者执行按钮，然后在输出窗口中可以看到转化为彭语言形式的数据流项目</p>
        </li>
        <li>
            <p>如果你输入的是纯彭语言行形式的数据流项目，那么VR语言同样会将其二次编译成彭语言，然后进行格式规范化，所以你可以使用该VR语言对所有合法形式的数据流项目进行规范化。比如括号对齐、添加oth等。</p>
        </li>
        <li>
            <p>谢谢浏览，请尝试一下VR语言形式的数据流项目编辑</p>
        </li>
    </ul>
</div>