<head>
    <title>VR语言教程</title>
    <link rel="stylesheet" href="/css/style2.css" onload="console.log('CSS 文件已加载')">
</head>
<h2>VR语言教程</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<form name="VR_EBWU_BRTZ_FS" action="/VR_EBWU_BRTZ_FS" method="get">
    <button>VR传送门</button>
</form>
<form name="VR_VKJP" action="/VR_VKJP" method="get">
    <button>VR简介</button>
</form>
<form name="VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH" action="/VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH" method="get">
    <button>VR语言之数据流项目编写示例</button>
</form>
<hr>
<textarea class='code-area-2' onfocus="select()" rows="40" style="resize: none;width: 100%;overflow: auto;word-break: break-all;">
{{RJOK_SOPC}}
</textarea>
<form name="VR_EBWU_BRTZ_FS" id="form_1" action="/VR_EBWU_BRTZ_FS" method="post">
    <hr>
    避免语言混淆的方法:使用---符号占用一行对彭语言与VR语言进行分割后，编译时将只编译分隔符以下部分，分隔符以上部分将原装返回<br>
    <textarea class='code-area-2' name="VDZV_1" onfocus="select()" id="RNSF_1" rows="9" cols="150">
        +1[菜单1](Spec)
        $$$
        ---
        1=菜单2&#123;&#123;
            9=&#123;&#123;
             //项目
            &#125;&#125;
        &#125;&#125;
    </textarea>
    <br>
    <button>提交</button>
</form>